.nav {
    position: relative;
    top: 0;
    left:  0;
    width: 100%;
    background: linear-gradient(to right,#364156, #212D40);
    display:flex;
    justify-content: right;
    align-items: center;
    border-bottom: 1px ;
}
.nav ul{
    list-style-type: none;
    margin: 0px;
    display: flex;

}
.nav a{
    font-size: 16px;
    font-family: 'Segoe UI';
    text-decoration: none;
    color:white;
    text-align: none;
    font-weight: 500;
    margin: 0px;
    display: block;
    padding: 15px;
}

.nav a:active{
    background-color: #D66853;
}
.nav a:hover{
    background-color: #D66853;
}



